.gallery3D {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: relative;

  &__canvas {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Unbounded', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #000;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  &__instruction {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Unbounded', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
  }
}
