@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Variables Sass
$background-light: #ffffff;
$foreground-light: #171717;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;

:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --foreground: #{$foreground-dark};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Unbounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none; // Hide default cursor
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
